<!--<header class="header container">-->
<header class="header">
  <div class="header-wrapper">
    <div class="navigation  container">
      <a [routerLink]="['/']" class="logo">Logo</a>
      <nav class="nav-bar">
        <ul>
          <li routerLink="/">Main</li>
          <li *ngIf="loginIn() !== true; else signOut" routerLink="login">Login</li>
          <li *ngIf="loginIn() == false" routerLink="registration">Registration</li>
          <li routerLink="items">Items</li>
          <li *ngIf="!checkAdmin()" routerLink="bucket">Bucket</li>
          <li *ngIf="loginIn() == true" routerLink="profile">Profile</li>
          <li *ngIf="checkAdmin()" routerLink="admin">Admin_Panel</li>
        </ul>
      </nav>
    </div>

    <ng-template #signOut>
      <li (click)="loginOut()" routerLink="/">Sign out</li>
    </ng-template>
  </div>
</header>
