<div fxLayout="row" fxLayoutAlign="space-between center">
  <div><a [routerLink]="['/']">Header</a></div>
  <div *ngIf="checkRole() == 'ADMIN'"></div>
  <div></div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div><a routerLink="/">Main</a></div>
    <div *ngIf="loginIn() !== true; else signOut"><a routerLink="login">Login</a></div>
    <div><a routerLink="registration">Reg</a></div>
    <div><a routerLink="items">Items</a></div>
    <div><a routerLink="bucket">Bucket</a></div>
    <div *ngIf="loginIn() == true"><a routerLink="profile">Profile</a></div>
  </div>

  <ng-template #signOut>
    <a (click)="loginOut()" routerLink="/">Sign out</a>
  </ng-template>

</div>
