<!--<header class="header container">-->
<header class="header ">
  <div class="navigation  container">
    <a [routerLink]="['/']" class="logo">Header</a>
    <nav class="nav-bar">
      <ul>
        <li routerLink="/">Main</li>
        <li *ngIf="loginIn() !== true; else signOut" routerLink="login">Login</li>
        <li routerLink="registration">Registration</li>
        <li routerLink="items">Items</li>
        <li routerLink="bucket">Bucket</li>
        <li *ngIf="loginIn() == true" routerLink="profile">Profile</li>
      </ul>
    </nav>
  </div>

<!--  <ng-template #signOut>-->
<!--    <a (click)="loginOut()" routerLink="/">Sign out</a>-->
<!--  </ng-template>-->
  <ng-template #signOut>
    <a (click)="loginOut()" routerLink="/">Sign out</a>
  </ng-template>
</header>
