<div class="items">
  <!--  <div class="items" *ngFor="let item of itemsOnPageList">-->
  <div class="info-row">
    <div>
      <button [disabled]="currentPage === 0" (click)="changePage(-1)" style="cursor: pointer">Prev page</button>
      <button [disabled]="currentPage > 2" (click)="changePage(+1)" style="cursor: pointer">Next page</button>
    </div>
    <form class="info-row">
      <select size="1">
        <option *ngFor="let counter of itemsOnPageCounterList">{{counter.name}}</option>
      </select>
      <!--      <button (click)="refreshPage()">Submit</button>-->
    </form>
  </div>
  <div class="item-table">
    <div class="item" *ngFor="let item of itemsOnPageList">
      <!--      <img src="src/resources/{{item.imageUrl}}.jpg">-->
      <img class="item-image" src="assets/image/{{item.imageUrl}}.jpg">

      <label>{{item.title}}</label>
      <br>
      <label>{{item.price}}$</label>
      <div class="button">
        <button [disabled]="checkUser()" (click)="addItemToSB(item)">Add</button>
      </div>
      <!--  </div>-->
    </div>
  </div>
  <div class="info-row-bottom">
    <div>
      <button [disabled]="minPage" (click)="changePage(-1)" style="cursor: pointer">Prev page</button>
      <button [disabled]="maxPage" (click)="changePage(+1)" style="cursor: pointer">Next page</button>
    </div>
  </div>
</div>
