<div class="app">
  <div>
    <app-header></app-header>
  </div>

  <!--<app-body fxLayout="column">-->
  <!--  <router-outlet></router-outlet>-->
  <!--</app-body>-->

  <!--  <div class="content" fxLayout="column" fxFlex>-->
  <!--    <router-outlet></router-outlet>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div fxFlex="fxFlexFill">-->
  <!--  <router-outlet fxFlex="fxFlexFill"></router-outlet>-->
  <!--</div>-->
  <div>
    <router-outlet></router-outlet>
  </div>

  <div>
    <app-footer></app-footer>
  </div>
</div>

