<div class="container login-wrapper">
  <form [formGroup]="form" class="login-form">
    <div class="login-form-row">
<!--      <label for="username">Username</label>-->
      <input type="text" id="username" formControlName="username" placeholder="Username" [(ngModel)]="userRequest.username" required="required">
<!--      <span></span>-->
    </div>
    <div class="login-form-row">
<!--      <label for="password">Password</label>-->
<!--      <label for="password">Password</label>-->
      <input type="password" id="password" formControlName="password" placeholder="Password" [(ngModel)]="userRequest.password" required="required">
    </div>
    <button class="login-form-btn" [disabled]="form.invalid" (click)="authenticate()">Submit</button>
  </form>
</div>
