<div class="container login-wrapper">
  <div *ngIf="message" class="info-error-message">
    {{message}}
  </div>
  <div class="info-error">
    <span>login</span>
  </div>
  <form [formGroup]="form" class="login-form">
    <div class="login-form-row">
      <input type="text" id="username" formControlName="username" placeholder="Username"
             [(ngModel)]="userRequest.username" required="required">
    </div>
    <div class="login-form-row">
      <input type="password" id="password" formControlName="password" placeholder="Password"
             [(ngModel)]="userRequest.password" required="required">
    </div>
    <button class="login-form-btn" [disabled]="form.invalid" (click)="authenticate()">Submit</button>
  </form>
</div>
