<div class="container reg-wrapper">
  <div *ngIf="message" class="info-error-message">
    <span>{{message}}</span>
  </div>
  <div>
    <span>Registration</span>
  </div>
  <form [formGroup]="userRegForm" class="reg-form">
    <div class="reg-form-row">
      <input type="text" id="email" placeholder="E-mail" formControlName="email" [(ngModel)]="userRequest.email"
             required="required">
    </div>
    <div class="reg-form-row">
      <input type="password" id="password" placeholder="Password" formControlName="password"
             [(ngModel)]="userRequest.password" required="required">
    </div>
    <div class="reg-form-row">
      <input type="text" placeholder="Username" id="username" formControlName="username"
             [(ngModel)]="userRequest.username" required="required">
    </div>
    <button class="reg-form-btn" [disabled]="userRegForm.invalid" type="submit" (click)="registration()">Submit</button>
  </form>
</div>
