<div class="container">
  <div class="profile">

    <button (click)="showOrders()">S</button>
    <div>
      <div class="order" *ngFor="let order of orders">
        <div class="order">Order #{{order.id}}</div>
        <div class="order-items">
          <div class="item" *ngFor="let item of order.items">
            <label>{{item.title}}</label>
            <label>{{item.price}}</label>
          </div>
        </div>
        <div class="item">Price - {{order.price}}</div>
      </div>
    </div>
    <!--  <div>-->
    <!--    <button (click)="showOrdersCheck = !showOrdersCheck">Show orders</button>-->
    <!--    <div *ngIf="showOrdersCheck; else doNotShowOrders"></div>-->
    <!--    <div class="order" *ngFor="let order of orders">-->
    <!--      <div class="order.item" *ngFor="let item of order.items">-->
    <!--        <label>{{item.title}}</label>-->
    <!--        <label>{{item.price}}</label>-->
    <!--      </div>-->
    <!--      <div class="order.price"><label>Total price - {{order.price}}</label></div>-->
    <!--    </div>-->

    <!--    <ng-template #doNotShowOrders>-->
    <!--      <div></div>-->
    <!--    </ng-template>-->
    <!--  </div>-->

  </div>
</div>
