:host {
  padding: 30px;
  flex-grow: 5;
  align-items: center;
  justify-content: center;
}

.item {
  background-color: lightyellow;
  margin: 5px;
  padding: 5px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.complete-button {
  justify-content: space-between;
}
