/* You can add global styles to this file, and also import other style files */

/*body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*body, html {*/
/*  padding: 0;*/
/*  margin: 0 auto 0;*/
/*  !*height: 100%;*!*/
/*  !*flex-direction: row;*!*/
/*  !*display: flex;*!*/
/*  !*justify-items: center;*!*/
/*}*/

.app {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*min-height: 100vh;*/
  min-height: 100%;
}

.header-wrap {
  /*flex: 0 0 auto;*/
  /*flex: 0;*/
}

.content-wrap{
  flex-grow: 2;
}

.footer-wrap{
  /*padding-top: 43px;*/
  /*padding-top: 10%;*/
  /*align-items: flex-end;*/
  /*flex: 0 0 auto;*/
  /*flex: 0;*/
}

/*:host {*/
/*display: flex;*/
/*flex-direction: column;*/
/*flex: 1 1 100%;*/
/*background-color: #defdda;*/
/*}*/

/*:host {*/
/*  background-color: #defdda;*/
/*  !*min-height: 100vh;*!*/
/*  !*width: 100%;*!*/
/*  !*height: 100%;*!*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  flex: 1 1 100%;*/
/*}*/


app-body > * {
  min-height: 100%;
  align-items: center;
}

.container {
  margin: 0 auto;
  /*flex-grow: 2;*/
  max-width: 830px;
  min-height: 100%;
  /*min-width: 100%;*/
  display: flex;
  /*min-height: 100%;*/
  /*height: 100vh;*/
  /*padding-top: 100px;*/
  /*min-height: calc(110%);*/
  /*margin-top: 100px;*/
  /*margin-bottom: 200px !important;*/
  /*margin: 100px 0;*/
  /*justify-content: center;*/
  /*align-items: ;*/
}

.header {
  background-color: khaki;
  /*display: flex;*/
  width: 100%;
  min-height: 50px;

  text-transform: uppercase;
  align-items: center;
}

.header > .navigation {
  display: flex;
  justify-content: space-between;

}

.header > .navigation > .logo {
  padding-top: 12px;
  padding-left: 15px;
}

.header > .navigation > .nav-bar > ul {
  display: flex;
  list-style: none;
  padding-right: 15px;
}

.header > .navigation > .nav-bar > ul > li {
  padding-left: 40px;
}

.header > .navigation > .nav-bar > ul > li {
  cursor: pointer;
}

.footer {
  background-color: khaki;
  /*padding-top: 50px;*/
  min-height: 50px;
  width: 100%;
}

/*-----------shop items-------------*/

/*app-shop {*/
/*  height: 100%;*/
/*  flex-grow: 2;*/
/*  min-height: 500px;*/
/*}*/

/*.items {*/
/*  !*position: absolute;*!*/
/*  display: flex;*/
/*  !*flex-wrap: wrap;*!*/
/*  !*justify-content: center;*!*/
/*  !*margin-top: 20px;*!*/
/*  !*margin-bottom: 20px;*!*/
/*  flex-direction: column;*/
/*  !*flex-direction: row;*!*/
/*  !*justify-content: space-between;*!*/
/*  background-color: forestgreen;*/
/*  !*flex-shrink: 1;*!*/
/*  flex-grow: 1;*/
/*  !*flex-basis: auto;*!*/
/*}*/


/*.items > .item-table {*/
/*  display: flex;*/
/*  flex-grow: 2;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.items > .info-row {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-grow: 3;*/
/*}*/

/*.items > .info-row-bottom {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-grow: 3;*/
/*}*/

/*.item {*/
/*  display: flex;*/
/*  background-color: bisque;*/
/*  min-width: 200px;*/
/*  min-height: 100px;*/
/*  margin: 5px 5px 5px 5px;*/
/*  text-align: center;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*}
*/

app-shop {
  display: flex;
  background-color: #8b706a;
  /*min-height: 100%;*/
  /*flex: 0 0 auto;*/
}

.items {
  /*flex: 1;*/
  /*min-height: 100%;*/
  /*position: absolute;*/
  /*height: 900px;*/
  position: relative;
  /*min-height: 95%;*/
  background-color: #816d8b;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  margin-bottom: 41px!important;
}

.item-table {
  flex: 2;
  display: flex;
  height: 100%;
  position: relative;
  justify-content: space-around;
  background-color: #cdfae5;
  flex-wrap: wrap;
}

.item {
  height: 300px;
  width: 200px;
  background-color: #9eea9b;
  margin: 10px 10px;
}

.info-row-bottom {
  flex: 1;
  display: flex;
  background-color: forestgreen;
  justify-content: center;
}

.info-row {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: forestgreen;
}

/*----------------------------------*/








/*--------------login-page---------*/
.login-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.login-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
}

.login-form > * {
  max-width: 100%;
  margin: 10px 0;
}

.login-form > .login-form-row > * {
  max-width: 100%;

}

.login-wrapper > .login-form > .login-form-row > input {
  width: 100%;
  /*padding: 5px 10px;*/
  /*margin-bottom: 10px;*/
  height: 50px;
}

.login-wrapper > .login-form > .login-form-btn {
  /*display: flex;*/
  /*margin: 5px 5px;*/
  /*padding: 5px 15px;*/
  height: 50px;
  background-color: forestgreen;
  transition: background-color 200ms;
}

.login-wrapper > .login-form > .login-form-btn:hover {
  background-color: #0d400d;
  cursor: pointer;
}
/*----------------------------------*/

/*----------Registration------------*/
.reg-wrapper {
  display: flex;
  justify-content: center;
}


.reg-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
}

.reg-form > * {
  max-width: 100%;
  margin: 10px 0;
}

.reg-form > .reg-form-row > * {
  max-width: 100%;

}

.reg-wrapper > .reg-form > .reg-form-row > input {
  width: 100%;
  /*padding: 5px 10px;*/
  /*margin-bottom: 10px;*/
  height: 50px;
}

.reg-wrapper > .reg-form > .reg-form-btn {
  /*display: flex;*/
  /*margin: 5px 5px;*/
  /*padding: 5px 15px;*/
  font-weight: bolder;
  height: 50px;
  background-color: forestgreen;
  transition: background-color 200ms;
  cursor: pointer;

}

.reg-wrapper > .reg-form > .reg-form-btn:hover {
  background-color: #0d400d;
}


/*----------------------------------*/


/*-------------bucket---------------*/

app-bucket > * {
  align-items: center;

}

.bucket {
  flex-direction: column;
}

.bucket-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*----------------------------------*/


/*-------------profile---------------*/

app-profile > * {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.order-items {
  display: flex;
  justify-content: space-around;

}

/*----------------------------------*/


*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
