.app {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*min-height: 100vh;*/
  min-height: 100%;
}

.logo {
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
}

.content-wrap {
  flex-grow: 2;
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

app-body > * {
  min-height: 100%;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 830px;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.header {
  background-color: khaki;
  display: flex;
  width: 100%;
  min-height: 50px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  width: 100%;
  position: absolute;
}

.header > .header-wrapper > .navigation {
  display: flex;
  justify-content: space-between;
}

.header > .header-wrapper > .navigation > .logo {
  padding-top: 12px;
  padding-left: 15px;
}

.active {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex!important;
}

.small-nav-bar > ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.small-nav-bar > ul > li {
  background: burlywood;
  min-width: 100%;
}

.small-nav {
  display: none;
}

@media (max-width: 763px) {

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .small-nav {
    display: flex;
  }

  .small-nav > * {
    flex-direction: row;
  }
  .small-nav > .small-nav-bar > * {
    display: flex;
    flex-direction: row;
  }

  .nav-bar {
    display: none;
  }

  .small-nav-bar {
    display: none;
  }
}
@media (min-width: 763px) {

  /*.header-wrapper {*/
  /*  display: flex;*/
  /*  flex-direction: row;*/
  /*  justify-content: space-between;*/
  /*}*/

  .small-nav {
    display: none;
  }

  .small-nav > * {
    flex-direction: row;
  }
  .small-nav > .small-nav-bar > * {
    display: none;
    flex-direction: row;
  }

  /*.nav-bar {*/
  /*  display: flex;*/
  /*}*/

  .small-nav-bar {
    display: none;
  }

  .active {
    display: none!important;
  }
}

.header > .header-wrapper > .navigation > .nav-bar > ul {
  display: flex;
  list-style: none;
  padding-right: 15px;
}

.header > .header-wrapper > .navigation > .nav-bar > ul > li {
  padding-left: 40px;
}

.header > .header-wrapper > .navigation > .nav-bar > ul > li {
  cursor: pointer;
}

.footer {
  background-color: khaki;
  min-height: 50px;
  width: 100%;
}

/*-----------shop items-------------*/


app-shop {
  display: flex;
  background-color: #8b706a;
}

.item > .button {
  margin-bottom: 10px;
}

.items {
  position: relative;
  margin-bottom: 41px !important;
}

.item-table {
  flex: 2;
  display: flex;
  height: 100%;
  position: relative;
  justify-content: space-around;
  background-color: #cdfae5;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  /*height: 300px;*/
  width: 200px;
  height: 300px;
  background-color: #9eea9b;
  margin: 10px 10px;
}

.item-image {
  max-height: 100%;
  max-width: 100%;
  margin: 10px 10px;
}

.info-row-bottom {
  flex: 1;
  display: flex;
  /*background-color: forestgreen;*/
  justify-content: center;
}

.info-row {
  display: flex;
  justify-content: center;
}

/*----------------------------------*/


.info-error-message {
  border-radius: 10px;
  border: darkred;
  background: #eeb4b4;
  padding: 5px 5px;
}


/*--------------login-page---------*/
.login-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.login-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
}

.login-form > * {
  max-width: 100%;
  margin: 10px 0;
}

.login-form > .login-form-row > * {
  max-width: 100%;
}

.login-wrapper > .login-form > .login-form-row > input {
  width: 100%;
  /*padding: 5px 10px;*/
  /*margin-bottom: 10px;*/
  height: 50px;
}

.login-wrapper > .login-form > .login-form-btn {
  height: 50px;
  background-color: forestgreen;
  transition: background-color 200ms;
}

.login-wrapper > .login-form > .login-form-btn:hover {
  background-color: #0d400d;
  cursor: pointer;
}

/*----------------------------------*/

/*----------Registration------------*/
.reg-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
}


.reg-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
}

.reg-form > * {
  max-width: 100%;
  margin: 10px 0;
}

.reg-form > .reg-form-row > * {
  max-width: 100%;

}

.reg-wrapper > .reg-form > .reg-form-row > input {
  width: 100%;
  /*padding: 5px 10px;*/
  /*margin-bottom: 10px;*/
  height: 50px;
}

.reg-wrapper > .reg-form > .reg-form-btn {
  font-weight: bolder;
  height: 50px;
  background-color: forestgreen;
  transition: background-color 200ms;
  cursor: pointer;

}

.reg-wrapper > .reg-form > .reg-form-btn:hover {
  background-color: #0d400d;
}


/*----------------------------------*/


/*-------------bucket---------------*/


app-bucket {
  /*position: fixed;*/
  width: 100%;
  /*align-items: flex-start;*/
  /*align-self: flex-start;*/
}

.buck-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*min-width: 100%;*/
  /*width: 100%;*/
  margin: 50px 50px;
}

.buck-list {
  /*min-width: 100%;*/
  /*width: 100%;*/
}

.bucket-item {
  display: flex;
  /*flex-grow: 1;*/
  flex-direction: row;
  /*min-width: 100%;*/
  flex-wrap: wrap;
}

.item-b {
  display: flex;
  text-align: initial;
  align-content: center;
  justify-content: initial;
  width: 100%;
  max-height: 100px;
  align-items: center;
}

.item-b > * {
  padding-right: 20px;
}

.item-image {
  max-height: 85%;
}

/*----------------------------------*/


/*-------------profile---------------*/

app-profile {
  width: 100%;
}

.profile {
  width: 100%;
}

.order-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order {
  border: black;
}

.order-item > * {
  padding-right: 30px;
}

.order-item {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
}

.order-info {
  align-self: center;
}

.order-image {
  height: 90px;
}

.order-title {
  text-align: center;
}

.order {
  padding: 0 15px;
}

.order-price {
  text-align: right;
}

/*----------------------------------*/
* {
  box-sizing: border-box;
}


/*----------------------------------*/

.admin-wrapper {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-direction: column;*/

}

.manage-functions {
    display: flex;
}

.manage-functions > * {

  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*----------------------------------*/

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
